{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "ie >= 9"]
      },
      "modules": false,
      "useBuiltIns": true,
      "debug": false
    }]
  ],
  "plugins": ["transform-runtime", ["transform-object-rest-spread", {
    "useBuiltIns": true
  }],["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }
  ]]]
}